<!DOCTYPE html>
<html lang="en" ng-app="githubApp">
<head>
	<meta charset="UTF-8">
	<title>API GITHUB</title>
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
</head>
<body>
<h2>Get Repos from Github man! 🤘🏼🎸</h2>
	<div class="searchUser" ng-controller="mainController">
		<input type="text" placeholder="Github user..." ng-model="user">
		<button ng-click="searchRepos()" class="btn">Get Repos ✅</button>
		<ul>
			<li ng-repeat="repo in listRepos"><a href={{repo.svn_url}}>{{repo.name}}</a> - {{repo.language}}</li>
		</ul>
	</div>
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/mainController.js"></script>
	<script src="js/factories/factory.js"></script>
	
</body>
</html>